<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="OAuthConsumerKey" value="EHWLWeAGxRmudqjie56c4TFzP" />
    <add key="OAuthConsumerSecret" value="1C4szWqlYexK1LuQuq0AA27ckfIrd0jXwfvDGZm40ERz6aHrmQ" />
  </appSettings>
</configuration>
