<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OAuthConsumerKey" value="booKLA5jLjfi8X6yUIegCDQq0" />
    <add key="OAuthConsumerSecret" value="wrkGeyOuJBlN0XVorB8hFNmKSwUHW2aNx2EDAsDqecN700IJS7" />
    <add key="AccessKey" value="801018269507420160-pfq1QxlBAbscJadqF9I8pNiVDhsv7kB" />
    <add key="AccessSecret " value="gYzjgT0GJxpQYSr9ft4uXBVR7VRLyhSdq7kHfRRc80HTs" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
